<div class="container">
  <h1>Extracurriculars</h1>
  <ul class="flex socials">
    <li class="socials__item">
      <a target="_blank" href="https://www.instagram.com/mikaelgrr/" class="btn">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="socials__item">
      <a target="_blank" href="https://twitter.com/mikaelgrr" class="btn">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="socials__item">
      <a target="_blank" href="https://github.com/MikaGurrola" class="btn">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="socials__item">
      <a target="_blank" href="https://www.linkedin.com/in/mika-gurrola-5820858b/" class="btn">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="socials__item">
      <a target="_blank" href="https://codepen.io/MikaGurrola/" class="btn">
        <i class="fab fa-codepen"></i>
      </a>
    </li>
  </ul>
</div>