

<div class="page animate">
  

  <div class="hero">
    <p>The coolest thing about being a developer is the ability to build out my ideas and share them with the world wide web. I've had a lot of fun bringing a design to life and creating delightful experiences and creative user interfaces. </p>

    <a target="_blank" href="https://codepen.io/MikaGurrola/" class="btn btn--dark">
      CHECK IT OUT <i class="fab fa-codepen"></i>
    </a>
  </div>

  <article class="container">

  </article>


  <div class="container">
      <h1>FUN PROJECTS</h1>
    <ul class="projects">
      <li class="projects__item">
        <div class="projects__demo">
          <img class="pixel2" src="../../../assets/demos/pixel2.png" alt="project demo">
          <div class="gif">
            <img src="../../../assets/demos/pp.gif" alt="Picture perfect pallett demo">
          </div>        
        </div>
        <article class="projects__content">
          <h1>Picture Perfect Palette</h1>
          <p>This is a simple app that utilizes the Unsplash.com api to get recent/popular images and a Vibrant JS to get the dominant colors of an image to create a color palette. You can also upload your own image to create a palette. I really wanted to play with router animations and lazy load pages/components.</p>
          <div class="actions">
            <a target="_blank" href="https://mikagurrola.github.io/picture-perfect-palette/" class="btn">DEMO <i class="fab fa-chrome"></i></a>
            <a target="_blank" href="https://github.com/MikaGurrola/picture-perfect-palette" class="btn btn--secondary">SOURCE <i class="fab fa-github"></i></a>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <div class="projects__demo">
          <img class="pixel2" src="../../../assets/demos/pixel2.png" alt="project demo">
          <div class="gif">
            <img src="../../../assets/demos/outorl.gif" alt="Out Orlando demo">
          </div>           
        </div>
        <article class="projects__content">
          <h1>Out Orlando</h1>
          <p>My goal with this little project is to highlight hidden gems of the community and share with the gym bunnies, the queer families, the drag mothers, the shopaholics, the food connoisseurs, the volunteers and everyone in between. There's more to Orlando than just theme parks.</p>
          <div class="actions">
            <a target="_blank" href="https://outorlando-741d5.firebaseapp.com/home" class="btn">DEMO <i class="fab fa-chrome"></i></a>
            <!-- <a target="_blank" href="#" class="btn btn--secondary">SOURCE <i class="fab fa-github"></i></a> -->
          </div>
        </article>
      </li>
    </ul>
  </div>

  <h1>CLIENT WORKS</h1>

  <div class="container">
    <ul class="projects">
      <li class="projects__item">
        <div class="projects__demo">
          <img class="pixel2" src="../../../assets/demos/pixel2.png" alt="project demo">
          <div class="gif">
            <img src="../../../assets/demos/greenlight2.gif" alt="greenlight demo">
          </div>          
        </div>
        <article class="projects__content">
          <h1>Green Light Group Tours</h1>
          <p>This was a fun design to bring to life. Using Underscores as a foundation for this custom theme I had to build the backend editor to be easy enough for the client to make changes and add content to their site on their own - Advanced Custom Fields really helped with that.</p>
          <div class="actions">
            <a target="_blank" href="https://greenlightgrouptours.com/" class="btn">LIVE <i class="fab fa-chrome"></i></a>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <div class="projects__demo">
          <img class="pixel2" src="../../../assets/demos/pixel2.png" alt="project demo">
          <div class="gif">
            <img src="../../../assets/demos/launches2.gif" alt="launches demo">
          </div>         
        </div>
        <article class="projects__content">
          <h1>Space Coast Launches</h1>
          <p>This was my first native app, built with Kotlin for android - I developed the compass & implimented the video streaming features. It was fun yet challenging as native development was familiar, but not at the same time. </p>
          <div class="actions">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.three212.spacecoastlaunches&hl=en" class="btn">Play store <i class="fab fa-android"></i></a>
          </div>
        </article>
      </li>
    </ul>
  </div>


  <div class="container">
    <h1>Extracurriculars</h1>
    <ul class="flex socials">
      <li class="socials__item">
        <a target="_blank" href="https://www.instagram.com/mikaelgrr/" class="btn">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://twitter.com/mikaelgrr" class="btn">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://github.com/MikaGurrola" class="btn">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://www.linkedin.com/in/mika-gurrola-5820858b/" class="btn">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://codepen.io/MikaGurrola/" class="btn">
          <i class="fab fa-codepen"></i>
        </a>
      </li>
    </ul>
  </div>
</div>