@import '~sass/variables';

.hero {

  &--work {

    background: 
      linear-gradient($red 0%, $purple 80%), 
      linear-gradient(to right, $red 0%, $purple 100%), 
      linear-gradient($gray 0%, $blueGray 100%),
      url('../../../../assets/anthem.jpg');
    background-blend-mode: screen, difference, hard-light, lighten;
    background-position: center top, center top, center bottom, left bottom;
    background-size: 100% 100%, 100% 100%, 100% 0%, 150vw auto;
    background-repeat: no-repeat;
    transition: all 1.5s cubic-bezier(.55,0,.1,1);
  
    p {
      padding: 15px;
      color: $gray;
      transition: all 1.5s cubic-bezier(.55,0,.1,1);
    }
  

    &:hover {
      background-position: -100vw 0%, 100vw 0%, center bottom,  right bottom;
      background-size: 100% 0%, 100% 0, 100% 100%, 150vw auto;
      background-repeat: no-repeat;
      
      p {
        color: white;
      }  

      .btn {
        background: $blue;
        border: 2px solid $blue;
      }
    }
  
    @media screen and (max-width: 600px) {
      margin: 0 5% 100px 5%;
      height: 50vh;
      min-height: 300px;
  
      justify-content: center;
      align-items: center;
      padding: 15px;
  
      background-position: center top, center top, center bottom, left bottom;
      background-size: 100% 100%, cover, 100% 0%, cover;
  
      animation-name: mobileBackgroundAnimation;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-delay: 3s;
      animation-fill-mode: forwards;
  
      &:hover {
        background-position: -100vw 0%, 100vw 0%, center bottom,  right bottom;
        background-size: 100% 0%, cover, 100% 100%, cover;
        p {
          color: white;
        }  
  
        .btn {
          background: $blue;
          border: 2px solid $blue;
        }
      }

      p, .btn {
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-delay: 3s;
        animation-fill-mode: forwards;
      }

      p {
        animation-name: textAnimation;
      }

      .btn {
        animation-name: buttonAnimation;
      }
    }

  }

}

@keyframes mobileBackgroundAnimation {
  0% {
    background-position: center top, center top, center bottom, left bottom;
    background-size: 100% 100%, 100% 100%, 100% 0%, auto 100%;
  }
  100% {
    background-position: -100vw 0%, 100vw 0%, center bottom,  right bottom;
    background-size: 100% 0%, 100% 0, 100% 100%, auto 100%;
  }
}

@keyframes buttonAnimation {
  0% {
    background: $gray;
    border: 2px solid $gray;
  }
  100% {
    background: $blue;
    border: 2px solid $blue;
  }
}

@keyframes textAnimation {
  0% {
    color: $gray;
  }
  100% {
    color: white;
  }
}


.projects {

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;

    &:nth-child(even) {
      .projects__demo {
        order: 2;
        .cmy {
          animation-delay: 2.5s;
        }
      }
      .projects__content {
        order: 1;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;

      &:nth-child(even) {
        .projects__demo {
          order: 1;
        }
        .projects__content {
          order: 2;
        }
      }
    }
  }

  &__demo,
  &__content {
    width: 45%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__demo {
    position: relative;
    overflow: hidden;

    .pixel2 {
      width: 250px;
      height: 500px;
      margin: 0 auto;

      position: relative;
      z-index: 2;

      &:hover + .cmy {
        background-position:
        top center,
        top center,
        top center;
      }
    }

    .gif {
      position: absolute;
      top: 33px;
      left: -2px;
      right: 0;
      z-index: 0;
      margin: 0 auto;

      img {
        width: 220px;
        height: auto;
        margin: 0 auto;
      }
    }


    .cmy {
      z-index: 0;
      position: absolute;
      top: 32px;
      right: 0;
      bottom: 0;
      left: 0;
      background-blend-mode: multiply;
      background:
      url('../../../../assets/demos/outOrl/cyan.png'),
      url('../../../../assets/demos/outOrl/magenta.png'),
      url('../../../../assets/demos/outOrl/yellow.png');
      
      background-repeat: no-repeat;
      background-size: 228px 439px;
      transition: .25s .5s;
      width: 200%;
      left: -50%;


      animation-duration: 5s;
      animation-name: blend;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;

      @media screen and (max-width: 600px) {
        width: 150%;
        left: -25%;
      }
    }
  }

  &__content {
    h1 {
      text-align: left;
    }

    .btn {
      margin: 15px 15px 15px 0;
    }
  }
}

@keyframes blend {
  0% {
    background-position:
    top left,
    top center,
    top right;
  }

  20% {
    background-position:
    top center,
    top center,
    top center;
  }

  80% {
    background-position:
    top center,
    top center,
    top center;
  }

  100% {
    background-position:
    top left,
    top center,
    top right;
  }
}