<div class="page">


  <div class="hero animate">
    <h1>Mika Gurrola</h1>
    <p>Front End Web Developer</p>
    <a class="btn" href="../../../assets/ResumeFeb2017.pdf" download>DOWNLOAD résumé <i class="fas fa-file-alt"></i></a>
  </div>


  <div class="container animate">
    <h1>Experience</h1>
    <article class="flex">
      <div class="img-overlay img-overlay--three21"></div>
      <div class="content">
        <h2>Three21, Orlando FL — Web Developer</h2>
        <span>FEBRUARY 2017 - PRESENT</span>
        <p>Being part of a small but capable team of three developers I had to take on a Full Stack developer role. This includes providing templates with automated workflows for local development as well as setup staging/live environments between multiple hosting services. Besides building custom WordPress themes/plugins, I have also built custom features for a native Android app.</p>   
      </div>
   
    </article>

    <article class="flex">
      <div class="img-overlay img-overlay--prpl"></div>
      <div class="content">
        <h2>Purple, Rock, Scissors, Orlando, FL — Front End Developer</h2>
        <span>AUGUST 2016 - DEC 2016</span> 
        
        <p class="h2">Developer Intern</p>
        <span>MAY 2014 - AUGUST 2016</span>
        <p>My intro to the chaotic world of Agency life with a ton of projects with short turnarounds. This was also when I was thrown into the fire of CMS’s like Drupal and WordPress. I learned a great deal about the roles of a web developer and how to work with teams from all departments striving for the same goal.</p>   
      </div>
    </article>


  </div>

  <div class="container animate">
    <h1>Education</h1>
    <article class="flex">
      <div class="img-overlay img-overlay--fullsail"></div>
      <div class="content">
        
        <h2>Full Sail, Winter Park, FL — BS Computer Science</h2>
        <span>FEBRUARY 2014 - MARCH 2016</span>
        <p>This crash course into web technologies has led me from the front to the back end of development. Going through SSL & Databases I found my way to the wonderful world of JS Frameworks like ReactJS and AngularJS enabling me to build out my ideas into prototypes. </p>  
      </div>
    </article>
  </div>

  <div class="container animate">
    <h1>Extracurriculars</h1>
    <ul class="flex socials">
      <li class="socials__item">
        <a target="_blank" href="https://www.instagram.com/mikaelgrr/" class="btn">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://twitter.com/mikaelgrr" class="btn">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://github.com/MikaGurrola" class="btn">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://www.linkedin.com/in/mika-gurrola-5820858b/" class="btn">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://codepen.io/MikaGurrola/" class="btn">
          <i class="fab fa-codepen"></i>
        </a>
      </li>
    </ul>
  </div>



</div>