@import '~sass/variables';


.hero {
  &--home {
    background: 
    linear-gradient($red 0%, $purple 80%), 
    linear-gradient(to right, $orange 0%, $blue 100%),  
    linear-gradient($gray 0%, $blueGray 100%),
    url('../../../assets/mika3.jpg');
    background-blend-mode: screen, difference, hard-light, lighten;
    background-position: center top, center top, center bottom, center top;
    background-size: 100% 100%, 100% 100%, 100% 0%, cover;
    background-repeat: no-repeat;
    transition: all 1.5s cubic-bezier(.55,0,.1,1);
    
    &:hover {
      background-position: -100vw 0%, 100vw 0%, center bottom,  center bottom;
      background-size: 100% 0%, 100% 0%, 100% 100%, cover;
      background-repeat: no-repeat;
    }

    @media screen and (max-width: 600px) {
      margin: 0 5% 100px 5%;
      height: 50vh;
      min-height: 300px;
  
      justify-content: center;
      align-items: center;
      padding: 15px;

      background-size: 100% 100%, 100% 100%, 100% 0%,  200% auto;

      animation-name: mobileBackgroundAnimation;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-delay: 3s;
      animation-fill-mode: forwards;
  

      &:hover {
        background-size: 100% 0%, 100% 0%, 100% 100%, 200% auto;
      }
    }

  }
}



@keyframes mobileBackgroundAnimation {
  0% {
    background-size: 100% 100%, 100% 100%, 100% 0%,  200% auto;
  }
  100% {
    background-size: 100% 0%, 100% 0%, 100% 100%, 200% auto;
    background-position: -100vw 0%, 100vw 0%, center bottom,  center bottom;
  }
}