@import '~sass/variables';

.router-container {
  // border:2px solid red;

  min-height: 100vh;
  // min-width: 100vw;
  // padding-top: 50px;
}

nav {
  // border: 2px solid blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: initial;
  z-index: 10;
  padding: 10px;
  background: $gray;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 15px;
      position: relative;
      


    }
  }

  a {
    position: relative;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    font-size: 25px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:visited {
      color: white;
    }

    &.active,
    &:hover, 
    &:focus,
    &:active {
      opacity: 1;
      font-size: 32px;
    }

    font-size: 30px;
    line-height: 40px;

    @media screen and (max-width: 600px) {
      font-size: 28px;
      line-height: 30px;
    }

    @media screen and (max-width: 414px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

body {
  position: relative;
}


.active {

    &:after {
      // animation: rippleOverlay 1s linear forwards;  
    }
}

@keyframes rippleOverlay { 
  0% {
    transform: scale(1);
    // filter: alpha(opacity=0);
    opacity: 0;
  }
  20% {
    transform: scale(50);
    // filter: alpha(opacity=1);
    opacity: 1;
  }
  40% {
    transform: scale(100);
    // filter: alpha(opacity=1);
    opacity: 1;
  }
  60% {
    transform: scale(100);
    // filter: alpha(opacity=.80);
    opacity: 0.8;
  }
  80% {
    transform: scale(100);
    // filter: alpha(opacity=.50);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    // filter: alpha(opacity=0);
    opacity: 0;
  }
}



// footer {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   z-index: 5;
//   width: 100%;
// }