<nav>
  <ul class="navbar">
    <li>
      <a  
      [routerLink]="['home']"
      [routerLinkActive]="['active']"
      
      >
      ABOUT
      </a>
    </li>
    <!-- <li>
      <a  
      [routerLink]="['/stats']"
      [routerLinkActive]="['active']"
      
      >
      STATS
      </a>
    </li> -->
    <li>
      <a  
      [routerLink]="['/ideas']"
      [routerLinkActive]="['active']"
      
      >
      <!-- <i class="material-icons">about</i> -->
      WORK
      </a>
    </li>
  </ul>
</nav>
<div class="main">
  <div class="router-container" [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>

