@import '~sass/variables';


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: white;
  position: relative;
  background: linear-gradient(to bottom, $gray 0%, #757575 100%);

  @media screen and (max-width: 600px) {
    font-size: 20px;
    line-height: 26px;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}


$righteous: 'Righteous', cursive;

h1,
.h1 {
  font-family: $righteous;
  letter-spacing: 1px;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  // text-transform: uppercase;
  // color: $text;
  text-align: center;
  margin-bottom: 100px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;


  @media screen and (max-width: 600px) {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
    
  }

}

.opening {
  margin-bottom: 50px;
}

h2,
.h2 {
  font-family: $righteous;
  letter-spacing: 1px;
  font-size: 30px;
  line-height: 40px;
  position: relative;
  // text-transform: uppercase;
  // color: $text;
  // text-align: center;


  @media screen and (max-width: 600px) {
    font-size: 25px;
    line-height: 35px;
  }
  margin: 5px auto;

}

span {
  font-style: italic;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;

  *:nth-of-type(even) .article {

    .article__image,
    .projects__demo {
      order: 2;
    }

    .article__content {
      order: 1;
    }

    @media screen and (max-width: 600px) {
      .article__image, 
      .article__content,
      .projects__demo {
        order: initial;
      }
    }
  }
}

article {
  z-index: 1;
}


img,
h1, .h1,
h2, .h2,
p, span, strong,
a, button,
li {
  &::selection {
    color: $blueGray; 
    background: white;
  }
}

p {
  margin: 10px 0;
  text-align: justify;
}

.p {
  &--max-width {
    max-width: 680px;
    margin: 15px auto;
  }
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  border: 2px solid white;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: $red;

  &:visited {
    color: white;
  }

  &:hover, 
  &:active,
  &:focus {
    background: $blue;
    border: 2px solid $blue;
  }

  &--accent {
    background: $blue;
    &:hover, 
    &:active,
    &:focus {
      background: $red;
      border: 2px solid $red;
    }
  }

  &--white {
    background: white;
    color: $blueGray;
    &:hover, 
    &:active,
    &:focus {
      background: $red;
      color: white;
      border: 2px solid $red;
    }
  }

  &--dark {
    background: $gray;
    color: white;
    border: 2px solid $gray;
    &:hover, 
    &:active,
    &:focus {
      background: $blue;
      color: white;
      border: 2px solid $blue;
    }
  }

  &--disabled {
    opacity: 0.5;
    background: initial;
    &:hover, 
    &:active,
    &:focus {
      cursor: default;
      background: initial;
      border-color: initial;
    }
  }

  &--secondary {
    background: transparent;
  }
} 


.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.socials {
  margin: 20px 0;
  &__item {
    margin: 10px;
  }
}


.hero {
  height: 80vh;
  min-height: 500px;
  margin: 10px 5% 5% 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  // background-color: $orange;
  // background-image: url('../../../assets/anthem.jpg');

  // background-position: center bottom;
  // background-size: cover;
  // background-blend-mode: multiply;
  // background-repeat: no-repeat;
  // position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .content {
    margin: 50px auto;
  }

  p {
    max-width: 600px;
    margin: 50px auto;
    text-align: justify;

    @media screen and (max-width: 600px) {
      margin: 10px auto;
    }
  }

  @media screen and (max-width: 600px) {
    margin: 0 5% 100px 5%;
    height: 50vh;
    min-height: 300px;

    justify-content: flex-start;
    align-items: center;
    padding: 15px;
  }
}

// article {
//   margin: 10vh 0 20vh 0;
//   @media screen and (max-width: 600px) {
//     margin: 5vh 0 15vh 0;
//   }
// }

.page {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 60px; 
  // background: linear-gradient(to bottom, $gray 0%, $blueGray 100%);
  @media screen and (max-width: 600px) {
    padding-top: 50px; 
  }
}
