.hero {
	background: url(../media/header.jpg) no-repeat center center fixed;
	background-size: cover;
	filter: brightness(70%);
	.content {
		padding: 100px 0;
		max-height: 500px;
		width: 100%;
		text-align: center;
		h1, p {
			color: white;
		}
	}
}