<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet">

<div class="page">

  <div class="hero">
    <h1>Mika Gurrola</h1>
    <p>Front End Web Developer</p>
  </div>
  
  <div class="card-container">
    <article class="card">
      <h1>Polyglot Proficiency</h1>
      <p>Yo no habla español, but speaking these languages make me feel better about being linguistically challenged.</p>
      <ul>
        <li class="stat">HTML</li>
        <li class="stat">CSS3/SCSS</li>
        <li class="stat">JS/ES6</li>
        <li class="stat">PHP</li>
      </ul>
    </article>
  
    <article class="card">
      <h1>Technical Tools</h1>
      <p>Some call it efficiency but honestly, I'm just lazy - so I thrive in automated workflows. Using tools like Browsersync help me to squash bugs as soon as they appear across multiple platforms and devices. I also like to keep my styles organized with Sass and using the BEM model.</p>
      <ul>
        <li class="stat">Git</li>
        <li class="stat">Gulp/NPM</li>
        <li class="stat">Sketch</li>
        <li class="stat">Browsersync</li>
        <li class="stat">Jira</li>
        <li class="stat">Wrike</li>
      </ul>
    </article>
  
    <article class="card">
      <h1>Latest Learnings</h1>
      <p>My latest interest is building Android apps with Kotlin. Developing a native app is bittersweet experience because I find a lot of familiar paradigms while still presenting a fun challenge.</p>
      <ul>
        <li class="stat">Kotlin</li>
        <li class="stat">Android Studio</li>
      </ul>
    </article>
  </div>





  
</div>


