<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet">

<div class="page">

  <div class="hero animate">
    <div class="projects__demo">
      <img class="pixel2" src="../../../assets/demos/pixel2.png" alt="project demo">
      <div class="cmy"></div>          
    </div>
    <div class="content">
      <h1>HTML, CSS & JS are the trinities of my reality.</h1>
    </div>
  </div>
  
  <div class="card-container container">
    <article class="card animate">
      <h1>Polyglot Proficiency</h1>
      <p>Yo no habla español, but speaking these languages make me feel better about being linguistically challenged.</p>
      <ul>
        <li class="stat">HTML</li>
        <li class="stat">CSS3/SCSS</li>
        <li class="stat">JS/ES6</li>
        <li class="stat">PHP</li>
      </ul>
    </article>
  
    <article class="card animate">
      <h1>Technical Tools</h1>
      <p>Using tools like Browsersync help me to squash bugs as soon as they appear across multiple platforms and devices. I also like to keep my styles organized with Sass using the BEM model.</p>
      <ul>
        <li class="stat">Git</li>
        <li class="stat">Gulp/NPM</li>
        <li class="stat">VSCode</li>
        <li class="stat">Flywheel</li>
        <li class="stat">WPEngine</li>
        <li class="stat">Browsersync</li>
        <li class="stat">Wrike</li>
      </ul>
    </article>
  
    <article class="card animate">
      <h1>Latest Learnings</h1>
      <p>My latest interest is building Android apps with Kotlin. Developing a native app is bittersweet experience because I find a lot of familiar paradigms while still presenting a fun challenge.</p>
      <ul>
        <li class="stat">Kotlin</li>
        <li class="stat">Android Studio</li>
      </ul>
    </article>
  </div>



  <div class="container animate">
    <h1>Extracurriculars</h1>
    <ul class="flex socials">
      <li class="socials__item">
        <a target="_blank" href="https://www.instagram.com/mikaelgrr/" class="btn">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://twitter.com/mikaelgrr" class="btn">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://github.com/MikaGurrola" class="btn">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://www.linkedin.com/in/mika-gurrola-5820858b/" class="btn">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li class="socials__item">
        <a target="_blank" href="https://codepen.io/MikaGurrola/" class="btn">
          <i class="fab fa-codepen"></i>
        </a>
      </li>
    </ul>
  </div>

  
</div>


