nav {
	position: relative;
	z-index: 10;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
	text-align: center;
	background: #343642;
	padding: 10px 0;
	display: flex;
	justify-content: center;

	p {
		color: white;
		margin: 0 10px;
		line-height: 1;
	}
}

a {
	margin: 0 10px;
	color: white;
	text-decoration: none;
	transition: all 1s;
	font-size: 32px;
	&:hover{
		color: #29D9C2;
	}
}

.nav-scrolled {
	position: fixed;
	width: 100%;
	top: 0;
	-webkit-transform: translate3d(0,0,0);
}

.mobile-nav {
	background: #343642;
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	transition: all .3s ease-in-out;

	@media screen and (min-width: 701px) {
		display: none;
	}
	
	p {
		color: white;
	}
}